In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf

In [2]:
def save_to_csv_from_yahoo(ticker, syear, smonth, sday, eyear, emonth, eday):
    start = dt.datetime(syear, smonth, sday)
    end = dt.datetime(eyear, emonth, eday)
    
    df = web.DataReader(ticker, 'yahoo', start, end)
    
    df.to_csv("/Users/User/Desktop/" + ticker + ".csv")
    return df

In [4]:
sigla = 'DOTZ3.SA'#'BTC-USD'#'AMZN'
save_to_csv_from_yahoo(sigla, 2021, 1, 1, 2021, 9, 17)

             High    Low   Open  Close   Volume  Adj Close
Date
2021-05-31  15.00  13.20  13.56  13.20  2096500      13.20
2021-06-01  13.75  13.05  13.41  13.18   599000      13.18
2021-06-02  13.32  13.04  13.20  13.32   319700      13.32
2021-06-04  13.57  13.10  13.36  13.14   182900      13.14
2021-06-07  13.26  13.10  13.16  13.15    53100      13.15
...           ...    ...    ...    ...      ...        ...
2021-09-13   9.00   8.40   8.84   8.66   955600       8.66
2021-09-14   8.73   8.51   8.62   8.63    41000       8.63
2021-09-15   9.09   8.53   8.63   8.77    62000       8.77
2021-09-16   8.91   8.50   8.53   8.50    69600       8.50
2021-09-17   9.20   8.28   8.47   8.97   190200       8.97

[77 rows x 6 columns]